size of datatypes.c
wrong compute space.c
pointers.c
pointer arithmetic.c
double arrays.c
matrices.c
store multiple strings in an array.c
store strings in an array using pointers.c
malloc and free functions.c
using arrow operator.c
size of structures.c
1.0-store student data.c 
1.1-append a node with student data.c
1.2-link nodes.c
1.3-print a linked list of number.c
1.5-free all space.c